mixin section-payments
    .payments
        .payments__daily
            .payments__info
                .payments__info-title= 'ЕЖЕДНЕВНЫЕ ВЫПЛАТЫ'
                .payments__info-desc= 'При заказе выплаты в тот же день'
                .payments__info-card
                    .payments__info-card-text= 'Минимальная сумма вывода'
                    .payments__info-card-price= '5000 руб'
            .payments__img
                img.img(src='assets/img/svg/img_1.svg')
            .payments__dec-img
                img.dec-img(src='assets/img/svg/bg_circle.svg')
        .payments__methods
            .payments__methods-title= 'Платежные методы'
            .payments__methods-list
                img.payments__methods-cards(src='assets/img/svg/cards_logo.svg')
                img.payments__methods-you-money(src='assets/img/svg/you_money_logo.svg')
                img.payments__methods-qiwi(src='assets/img/svg/qiwi_logo.svg')
                img.payments__methods-webmoney(src='assets/img/svg/webmoney_logo.svg')
                img.payments__methods-tether(src='assets/img/svg/tether_logo.svg')
                img.payments__methods-bitcoin(src='assets/img/svg/bitcoin_logo.svg')
                img.payments__methods-ip-or-ooo(src='assets/img/svg/ip_or_ooo_logo.svg')
